.App {
  text-align: center;
  width: 1080px;
  height: 1920px;
  overflow: hidden;
}

.spin {
  animation: spin 4s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#circle {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 25px;
}

#mode-button {
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 40px 0px 0px 40px;
} 
#mode-button > img {
  width: 80%;
}

.top-container {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.bottom-container {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
