#wheel {
  background-color: blue;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  overflow: hidden; }

.piece {
  width: 400px;
  height: 400px;
  position: absolute;
  clip-path: circle(30% at 10% 50%); }

.sector {
  width: 0;
  height: 0;
  position: relative;
  border-left: 90px transparent solid;
  border-right: 90px transparent solid;
  border-bottom: 200px solid red; }

.last-sector {
  background-color: black; }

#center {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
  z-index: 100; }

.color:nth-child(2) {
  background-color: cyan;
  transform: rotate(90deg); }
